In [1]:
import os
import json
import pandas as pd
import numpy as np

### Parsing through the events data

In [2]:
event_names = os.listdir(r"events")

In [3]:
events = []
for i in event_names:
    if i.endswith('.json'):
        try:
            string = "events/"+i
            data = json.load(open(string))
            event =  pd.DataFrame(data)
            match_id = i[:-5]
            event['match_id'] = [match_id]*len(event)
            events.append(event)
        except ValueError as ve:
            print(i)

In [4]:
events_df = pd.concat(events)
events_df.head()

,id,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,...,miscontrol,foul_won,off_camera,substitution,match_id,injury_stoppage,bad_behaviour,half_start,half_end,player_off
0,91fdaa62-e36b-4aca-8c56-7a6d32289483,1,1,00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 974, 'name': 'Reading WFC'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,2275050,NaN,NaN,NaN,NaN,NaN
1,aae12223-7969-4f4e-ac4e-83b075af1352,2,1,00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 974, 'name': 'Reading WFC'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,2275050,NaN,NaN,NaN,NaN,NaN
2,ba7b6ef4-edab-43e9-8ed2-ccc073667b8f,3,1,00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 974, 'name': 'Reading WFC'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,2275050,NaN,NaN,NaN,NaN,NaN
3,f8f30929-e011-4ea9-bbc9-c22873023d5f,4,1,00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 974, 'name': 'Reading WFC'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,2275050,NaN,NaN,NaN,NaN,NaN
4,c0927b64-b182-4e44-83f0-b77222d600f8,5,1,00:00:00.443,0,0,"{'id': 30, 'name': 'Pass'}",2,"{'id': 969, 'name': 'Birmingham City WFC'}","{'id': 9, 'name': 'From Kick Off'}",...,NaN,NaN,NaN,NaN,2275050,NaN,NaN,NaN,NaN,NaN

In [5]:
shots = events_df.dropna(subset=['shot'])

In [8]:
shots = shots.reset_index()

In [10]:
shots.head(3)

,level_0,id,index,period,timestamp,minute,second,type,possession,possession_team,...,miscontrol,foul_won,off_camera,substitution,match_id,injury_stoppage,bad_behaviour,half_start,half_end,player_off
0,187,e24077b9-2ca6-4680-9e8e-761bc9ba4845,188,1,00:05:23.402,5,23,"{'id': 16, 'name': 'Shot'}",17,"{'id': 974, 'name': 'Reading WFC'}",...,NaN,NaN,NaN,NaN,2275050,NaN,NaN,NaN,NaN,NaN
1,332,0d58fd05-2175-48d8-a9b6-2085920f1812,333,1,00:08:43.612,8,43,"{'id': 16, 'name': 'Shot'}",25,"{'id': 974, 'name': 'Reading WFC'}",...,NaN,NaN,NaN,NaN,2275050,NaN,NaN,NaN,NaN,NaN
2,478,7b728a6c-d483-4e5b-8061-a0b849722cea,479,1,00:11:43.335,11,43,"{'id': 16, 'name': 'Shot'}",32,"{'id': 969, 'name': 'Birmingham City WFC'}",...,NaN,NaN,NaN,NaN,2275050,NaN,NaN,NaN,NaN,NaN

### Shot outcome, technique, body_part, and type are recorded for all shots so we create a seperate column for each.

In [12]:
shots['shot_outcome'] = [row['outcome']['name'] for row in shots['shot']]

In [13]:
shots['technique'] = [row['technique']['name'] for row in shots['shot']]

In [14]:
shots['body_part'] = [row['body_part']['name'] for row in shots['shot']]

In [15]:
shots['type'] = [row['type']['name'] for row in shots['shot']]

In [17]:
shots.columns

Index(['level_0', 'id', 'index', 'period', 'timestamp', 'minute', 'second',
       'type', 'possession', 'possession_team', 'play_pattern', 'team',
       'duration', 'tactics', 'related_events', 'player', 'position',
       'location', 'pass', 'under_pressure', 'carry', 'out', 'counterpress',
       'ball_receipt', 'clearance', 'duel', 'foul_committed', 'dribble',
       'goalkeeper', 'shot', 'interception', '50_50', 'block', 'ball_recovery',
       'miscontrol', 'foul_won', 'off_camera', 'substitution', 'match_id',
       'injury_stoppage', 'bad_behaviour', 'half_start', 'half_end',
       'player_off', 'shot_outcome', 'technique', 'body_part'],
      dtype='object')

In [18]:
shots.to_csv('shots.csv')

In [19]:
len(shots)

28025